body {
    margin: 0;
    background-color: #fcf2f6;
    color: #080202;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    cursor: pointer;
}
h1{
    text-decoration: underline;
    font-style: italic;
}

ul li {
    padding: 1.5px;
}

li:hover {
    padding: 2px;
    color: #0d7c92;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
    text-decoration: underline;
}

.grid-col-2 {
    color: #3c8fa0;
    font-style: italic;
    font-size: 18px;
}