body {
    margin: 0;
    background-color: #ECF8F9;
    color: #080202;
}
.grid-col-1{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-left: 140px;
}
h1{
    text-decoration: underline;
    font-style: italic;
    text-transform: uppercase;
    color: #234951;
    margin-bottom: 0px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    cursor: pointer;
}


ul li {
    padding: 1.5px;
    text-transform: capitalize;
}

li:hover {
    padding: 2px;
    color: #7E1717;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
    text-decoration: underline;
}

.grid-col-2 {
    color: #068DA9;
    font-style: italic;
    font-size: 18px;
    margin-right: 80px;
}